@import "../../Colours.scss";

$background: $back_600;
$hover: $back_400;
$arrow: $back_400;
$arrow_hover: $back_50;
$sub: $back_50;

.catList {
    background-color: $background;
    padding: 16px 24px;
    border-radius: 2px;
    margin: 14px 0;
    cursor: pointer;
    transition: 150ms background-color ease;
    display: block;
    color: $fg;

    &.catDone {
        background-color: desaturate($green, 10%);
        .catStat {
            color: $bgreen;
        }
        &::after {
            border-color: desaturate($bgreen, 20%);
        }

        &:hover, &:focus {
            background-color: desaturate(lighten($green, 7%), 4%);
            &::after {
                border-color: desaturate($bgreen, 10%);
            }
        }
    }

    .catName {
        font-weight: 600;
        font-family: $titleStack;
    }
    .catStat {
        color: $sub;
        font-size: .9em;
    }

    position: relative;
    &::after {
        transition: 150ms border-color ease;
        content: "";
        display: block;
        border: 4px solid $arrow;
        border-left: 0;
        border-top: 0;
        transform: translate(-50%, -50%) rotate(-45deg);
        position: absolute;
        top: 50%;
        right: 12px;
        width: 10px;
        height: 10px;
    }
    &:hover, &:focus {
        background-color: $hover;
        &::after {
            border-color: $arrow_hover;
        }
        text-decoration: none;
        color: $fg;
    }
}

.campEditButton {
    position: absolute;
    top: 8px;
    right: 32px;
}

.campUnderEditButton {
    position: absolute;
    top: 8px;
    right: 180px;
}

.campInner {
    text-align: center;
    padding-top: 24px;
}
