@import "@ractf/ui-kit/Colours.scss";

.lockWrap {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    flex-grow: 1;
    padding: 32px;
    text-align: center;

    @media (max-width: 800px) {
        height: calc(100vh - 60px);
    }

    .lockTitle {
        font-family: $titleStack;
        font-size: 3em;
        font-weight: 600;
    }

    .siteCountdown {
        margin-top: .5em;
        font-size: 1.5em;
        font-weight: 400;
    }

    canvas {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

        z-index: -1;
    }

    .slide {
        position: absolute;
        bottom: 16px;
        left: 16px;
        width: 56px;
        height: 24px;
        border-radius: 12px;
        background-color: $back_700;
        transition: 200ms all ease;
        cursor: pointer;

        &::before {
            content: "";
            position: absolute;
            display: block;
            height: 20px;
            width: 20px;
            left: 2px;
            top: 2px;
            border-radius: 10px;
            background-color: $back_600;

            transition: 200ms all ease;
        }
        &.on {
            &::before {
                left: 34px;
                background-color: #291888;
            }
            background-color: #ff2f87;
        }
    }
}
