@import "../../Colours.scss";

.fancySite {
    font-family: "Gilroy", Arial, Helvetica, sans-serif;
    font-weight: 500;
    height: 100%;
    color: #ddd;
    display: flex;
    flex-direction: column;

    footer {
        padding: 60px 80px 36px;
        font-size: 0.9em;
    }
    footer > .inner {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    footer img {
        margin-bottom: auto;
        margin-right: 32px;
        margin-left: 16px;
    }
    .foot-col {
        margin: 0 48px;
    }
    .foot-col .foot-head {
        font-weight: 600;
        margin-bottom: 6px;
    }
    .foot-col a {
        color: #fff;
        opacity: 0.7;
        text-decoration: none;
        margin-top: 4px;
    }
    .foot-col a:hover {
        opacity: 1;
    }
    header {
        padding: 0 24px;
    }
    header .inner {
        display: flex;
        padding-top: 43px;
        align-items: center;
    }
    header img {
        height: 36px;
        opacity: 0.75;
    }
    .spacer {
        flex-grow: 1;
    }
    .head-social {
        margin-left: 1em;
        color: #999;
        font-size: 1.6em;
        cursor: pointer;
        transition: 200ms color ease;
        text-decoration: none;
    }
    .head-social:hover {
        color: #ddd;
    }
    .head-link {
        font-size: 1em;
        font-weight: 600;
        text-transform: uppercase;
        margin-right: 0.5em;
    }

    .sponsor {
        background-color: rgba(19, 18, 30, 0.9);
        padding: 4em 32px 5em;
        border-top: 2px solid rgba(5, 4, 15, 0.9);
        border-bottom: 2px solid rgba(5, 4, 15, 0.9);
    }
    .stop {
        font-size: 2.5em;
        margin-bottom: 1em;
        text-align: center;
        font-weight: 600;

        background: -o-linear-gradient(83.64deg, #e53935 -1.08%, #ff5c59 96.92%);
        background: linear-gradient(6.36deg, #e53935 -1.08%, #ff5c59 96.92%);
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    .sbody {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }
    .sbody img {
        height: 10em;
    }
    .secondary {
        background-color: $back_850;
        padding: 2em 32px 6em;
        flex-grow: 1;
    }
    .secondary-rules h1:first-child {
        margin-top: 0;
    }
    .rules-primary {
        height: 24px;
    }
    .primary {
        padding: 95px 32px 120px;
    }
    .inner {
        max-width: 1000px;
        width: 100%;
        margin: 0 auto;
        padding: 0 15px;
    }
    .primary .inner {
        margin-top: 3em;
        text-align: center;
    }
    .primary-hpad {
        padding-top: 0;
        padding-bottom: 18px;
    }

    .sub {
        font-size: 2em;
        font-weight: 600;
        line-height: 52px;
        text-align: left;
        letter-spacing: 3px;
        text-transform: uppercase;
        background: -o-linear-gradient(83.64deg, #e53935 -1.08%, #ff5c59 96.92%);
        background: linear-gradient(6.36deg, #e53935 -1.08%, #ff5c59 96.92%);
        line-height: 100%;
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    .cta {
        font-size: 7em;
        line-height: 0.85em;
        color: #fff;
        font-weight: 600;
        text-align: left;
        margin-bottom: 0.2em;
        margin-top: 0.1em;
    }
    .sub2 {
        margin-bottom: 2em;
        text-align: right;
    }
    .cts {
        font-size: 1.5em;
        color: #fff;
        font-weight: 600;
        display: inline-block;
        padding: 16px 32px;
        position: relative;
        z-index: 2;
        cursor: pointer;
        text-decoration: none;

        margin: 0 16px;

        &::after {
            content: "";
            display: block;
            position: absolute;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            z-index: -2;
            background: -o-linear-gradient(83.64deg, #e53935 -1.08%, #ff5c59 96.92%);
            background: linear-gradient(6.36deg, #e53935 -1.08%, #ff5c59 96.92%);
        }
        &::before {
            z-index: -1;
            content: "";
            display: block;
            position: absolute;
            left: 2px;
            right: 2px;
            bottom: 2px;
            top: 2px;
            background-color: $back_800;
            opacity: 1;
            transition: 400ms opacity ease;
        }
        &:hover::before, &:focus::before {
            opacity: 0.9;
        }
    }

    h1,
    h2,
    h3 {
        margin-top: 1.5em;
        font-weight: 600;
        font-size: 3em;
        background: -o-linear-gradient(83.64deg, #e53935 -1.08%, #ff5c59 96.92%);
        background: linear-gradient(6.36deg, #e53935 -1.08%, #ff5c59 96.92%);
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        margin-bottom: 0.5em;
    }
    h2 {
        margin-top: 1em;
        font-size: 2.5em;
        margin-bottom: 0.3em;
    }
    h3 {
        margin-top: 1em;
        font-size: 2em;
        margin-bottom: 0.1em;
    }
    p {
        margin-bottom: 0.7em;
        max-width: 800px;
        font-size: 1.3em;
        line-height: 1.5;
        opacity: 0.9;
    }
    p.small {
        font-size: 1em;
        opacity: 0.7;
    }
    li {
        font-size: 1.3em;
        &:not(:last-child) {
            margin-bottom: 0.2em;
        }
    }
    ul {
        margin-left: 2em;
    }
    .img-fw {
        border: 2px solid #0f0e1a;
        box-shadow: 1px 2px 4px #0003;
        border-radius: 8px;
        margin: 1.2em auto 0.2em;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-grow: 1;
        background-size: 20px 20px;
        background-position: 0 0, 30px 30px;
        position: relative;
        margin-right: 0.4em;
        margin-left: 0.4em;
    }
    .imf-dl {
        position: absolute;
        right: 12px;
        bottom: 8px;
        & > a {
            margin-left: 12px;
            text-decoration: none;
            opacity: 0.5;
            transition: 300ms ease opacity;
            &:hover {
                opacity: 1;
                text-decoration: underline;
            }
        }
    }
    .img-fw.white a {
        font-weight: 600;
        color: #000;
    }
    .img-fw.black a,
    .img-fw.blue a {
        color: #fff;
    }
    .img-fw.white {
        background-color: #fff;
        background-image: linear-gradient(45deg, #f2f2f2 25%, transparent 0, transparent 75%, #f2f2f2 0, #f2f2f2),
            linear-gradient(45deg, #f2f2f2 25%, transparent 0, transparent 75%, #f2f2f2 0, #f2f2f2);
    }
    .img-fw.black {
        background-color: #000;
        background-image: linear-gradient(45deg, #090909 25%, transparent 0, transparent 75%, #090909 0, #090909),
            linear-gradient(45deg, #090909 25%, transparent 0, transparent 75%, #090909 0, #090909);
    }
    .img-fw.blue {
        background-color: #0f0e1a;
        background-image: linear-gradient(45deg, #090815 25%, transparent 0, transparent 75%, #090815 0, #090815),
            linear-gradient(45deg, #090815 25%, transparent 0, transparent 75%, #090815 0, #090815);
    }
    .img-fw img {
        max-width: 710px;
        margin: 40px 30px;
        flex-grow: 1;
        width: 100%;
    }
    .row {
        display: flex;
    }
    .row > .img-fw {
        padding: 1.3em 2em;
    }
    .row.slim > .img-fw {
        padding: 0.3em 2em;
    }
    .row > .img-fw img {
        margin: 0;
    }
    .row.slim a {
        margin-left: 4px;
    }
    .row.slim .imf-dl {
        right: 10px;
        bottom: 4px;
        font-size: 0.8em;
    }

    @media (max-width: 800px) {
        .primary {
            padding: 45px 8px 50px;
            font-size: 70%;
        }
        header .inner {
            padding: 18px 0 0;
        }
        .cta {
            font-size: 5em;
            margin-top: 0.2em;
        }
        .sub {
            font-size: 2em;
        }
        .secondary {
            padding: 2em 8px 6em;
        }
        .sponsor {
            padding: 4em 8px 5em;
        }
        .stop {
            font-size: 2.2em;
        }
        h1 {
            font-size: 2.2em;
        }
        .sponsor img {
            height: 7em;
        }
        .rules-primary {
            height: 12px;
        }
        .primary-hpad {
            padding-top: 0;
            padding-bottom: 18px;
        }
        .row {
            flex-wrap: wrap;
        }
        footer {
            padding-left: 8px;
            padding-right: 8px;
        }
        .foot-col,
        footer img {
            text-align: center;
            margin: auto;
            padding: 0 20px;
            padding-bottom: 16px;
        }
    }
}
