@import "../../Colours.scss";


.cardRow {
    display: flex;
    flex-direction: row;
}

.homeLead {
    font-size: 2em;
    margin-bottom: 24px;
    margin-top: 12px;
    font-family: $titleStack;
    text-align: center;
}

.cardTypeLink {
    background-color: #292740;
    position: relative;
    display: block;
    color: $fg;
    padding: 16px;
    flex-grow: 1;
    margin: 16px;
    text-align: left;
    flex-basis: 0;
    border-radius: 1px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    flex-direction: column;

    &>* {
        margin-bottom: 8px;
    }

    &::before {
        position: absolute;
        left: 3px;
        height: 100%;
        top: 5px;
        width: 100%;
        content: "";
        display: block;
        background-color: $bg_d1;
        z-index: -1;
        border-radius: 1px;
        transition: 100ms top ease-out, 100ms left ease-out;
    }
    &:hover {
        text-decoration: none;
        color: $fg;
    }

    &:hover::before, &:focus::before {
        left: 5px;
        top: 8px;
    }

    &>div:not(.cardTitle) {
        font-size: .9em;
        color: darken($fg, 15%);
    }

    & .loadingSpinner {
        font-size: .5em !important;
        margin-bottom: 5em !important;
    }
}

.cardTitle {
    font-size: 1.1em;
    font-weight: 600;
    font-family: $titleStack;
}

.cloudsOverlay {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    z-index: -2;
    opacity: .5;
}

@media (max-width: 700px) {
    .cardRow {
        flex-direction: column;
    }
    .homeLead {
        margin-top: 16px;
        margin-bottom: 8px;
    }
}
