@import "../../Colours.scss";


.profileSplit {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    &>:first-child {
        margin-right: 24px;
    }    
}
.pfp {
    background-image: url(https://cdn.discordapp.com/avatars/161508165672763392/d49221388c0a50f8a7cbf4cb64b36eb6.png?size=2048);
    background-size: cover;
    border-radius: 24px;
    box-shadow: 0 2px 30px #0005;
    width: 256px;
    height: 256px;
    margin: auto;
    margin-bottom: 8px;
}
.userMeta {
    line-height: 1.5;
    flex-shrink: 0;
    text-align: center;
}
.userSolves {
    flex-grow: 1;
}
.userSpecial {
    padding: 12px 16px;
    border-radius: 21px;
    margin-bottom: 8px;
    width: 100%;
    text-align: left;
    display: flex;

    &>div:first-child {
        width: 42px;
        height: 42px;
        border-radius: 21px;
        background-color: #fff3;
        margin: -12px -16px;
        margin-right: 8px;

        background-repeat: no-repeat;
        background-position: center;
    }
}
.userSolve {
    padding: 12px 16px;
    background-color: rgba($bg_d1, .3);
    margin-bottom: 4px;
    width: 100%;
    text-align: left;

    &>div:first-child {
        margin-bottom: 4px;
    }
    &>div:last-child {
        font-size: .8em;
    }
}

@media (max-width: 700px) {
    .profileSplit {
        flex-direction: column;
        align-items: center;

        &>:first-child {
            margin-bottom: 24px;
            margin-right: 0;
        }

        &>* {
            width: 100%;
        }
    }
}
