@import "@ractf/ui-kit/Colours.scss";

.notif {
    background-color: $back_700;
    padding: 16px 24px;
    border: 1px solid $back_600;
    font-size: 1.2em;
    margin: 8px;
    box-shadow: 0 1px 5px -1px #0005;
    transition: 200ms ease box-shadow;
    cursor: pointer;
    opacity: .95;

    &:hover {
        box-shadow: 0 1px 5px 1px #0009;
    }

    .notifTitle {
        margin-bottom: 4px;
    }
    .notifBody {
        font-size: .9em;
        opacity: .7;
    }
    .notifTime {
        opacity: .5;
        font-size: .8em;
        margin-top: 4px;
    }
}