@import "../Colours.scss";

button {
    background-color: $bg_l1;
    border-radius: 0;
    border: 1px solid $bg_l2;
    display: block;
    cursor: pointer;
    color: $fg;
    font-size: 1.2rem;
    padding: 6px 12px;
    text-decoration: none;
    transition: background-color 1s;
    margin: 1rem auto 0;
    min-width: 100px;

    &.main {
        padding: .6rem 2rem;
    }
    &.medium {
        padding: 8px 18px;
        min-width: 120px;
    }
    &.lesser {
        background: none;
        color: darken($fg, 20%);
        border-color: $bg_l1;
    }
    &.warning {
        background: rgba($red, .3);
        border-color: rgba($red, .4);
    }

    &:not(.disabled):hover {
        background-color: $bg;
    }
    &.disabled {
        color: #999;
        cursor: not-allowed;
    }

    &:hover {
        text-decoration: none !important;
    }
}

.buttonRow {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    
    &.brRight {
        justify-content: flex-end;
    }

    &>* {
        margin-left: 0;
        margin-right: 16px;
    }
    &>:last-child {
        margin-right: 0;
    }
}
