@import "../Colours.scss";

button {
    background-color: $bg_l1;
    border-radius: 2px;
    border: none;
    display: block;
    cursor: pointer;
    color: $fg;
    font-size: 18px;
    padding: 9px 12px;
    text-decoration: none;
    transition: background-color 200ms, color 200ms;
    margin: 1rem auto 0;
    min-width: 100px;

    &.main {
        padding: .6rem 2rem;
    }
    &.medium {
        padding: 9px 24px;
        min-width: 140px;
        min-height: 46px;
    }
    &.lesser {
        background-color: $bg_l0;
        color: $bg_l5;
    }
    &.warning {
        background-color: rgba($red, .5);
    }

    &:not(.disabled):hover, &:not(.disabled):focus {
        background-color: $bg_l2;

        &.lesser {
            background-color: $bg_l1;
            color: $fg;
        }
        &.warning {
            background-color: rgba($red, .8);
        }
    }
    &.disabled {
        color: #999;
        cursor: not-allowed;

        &.warning {
            color: #bbb;
        }
    }

    &:hover {
        text-decoration: none !important;
    }
}

.buttonRow {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    
    &.brRight {
        justify-content: flex-end;
    }

    &>* {
        margin-left: 0;
        margin-right: 16px;
    }
    &>:last-child {
        margin-right: 0;
    }
}
