@import "../Colours.scss";


$input_color: $back_600;
$input_focus: $back_500;

$disabled_color: $back_700;
$disabled_text: $back_400;

$foreground: $white_50;
$placeholder: $back_100;
$placeholder_focus: $white_200;

$error_color: #3f2637;
$error_focus: #522836;

$padding: .7rem 24px;
$font_size: 18px;
$min_height: 46px;


input,
textarea {
    background: none;
    border: 0;
    width: 100%;
    color: inherit;
    padding: $padding;
    font-size: $font_size;
    min-height: $min_height;

    &:focus {
        border: none;
        outline: none;
    }
}

textarea {
    resize: vertical;
}

.react-datepicker-popper {
    z-index: 2 !important;
}

.inputMetaWrap, .react-datepicker-wrapper {
    position: relative;
    z-index: 1;
}

.inputWrapper, .react-datepicker__input-container {
    ::-ms-reveal,
    ::-ms-clear {
        display: none;
    }

    position: relative;

    font-size: 0;
    border-radius: 2px;

    color: $foreground;
    outline: none;

    background-color: $input_color;
    &:focus-within {
        background-color: $input_focus;

        .placeholder {
            color: $placeholder_focus;
        }

        > div:nth-of-type(1) {
            opacity: 0.8;
        }
    }
    
    &.center {
        text-align: center;
    }
    &.invalid {
        background-color: $error_color;

        &:focus-within {
            background-color:$error_focus;
        }
    }
    &.password {
        input {
            padding-left: 50px;
        }
        .placeholder {
            padding-left: 50px;
        }
    }
    &.disabled {
        background-color: $disabled_color;
        cursor: not-allowed;
        input {
            cursor: not-allowed;
        }
        .placeholder {
            color: $disabled_text;
        }
    }
    &.hidden {
        display: none;
    }

    .lengthCounter {
        position: absolute;
        right: 8px;
        top: 8px;
        font-size: 0.8em;
        opacity: 0.4;
        user-select: none;
    }
    .styledEye {
        position: absolute;
        top: 50%;
        width: 20px;
        height: 20px;
        left: 16px;
        font-size: 20px;
        transform: translateY(-50%);
        display: flex;
        align-items: center;
        cursor: pointer;

        opacity: 0.4;

        &:hover {
            opacity: 0.6;
        }
    }

    .placeholder {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: $min_height;
        padding: inherit;
        text-align: left;
        color: $placeholder;
        padding: $padding;
        font-size: $font_size;

        user-select: none;
        pointer-events: none;

        & > span {
            display: block;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }

    .inputStrength {
        position: absolute;
        height: 2px;
        background-color: #000;
        bottom: 0;
        left: 0;
        width: 100%;
        transition: width 200ms ease-out, color 200ms ease;

        &[data-val="0"] {
            width: 0%;
            background-color: darkred;
        }
        &[data-val="1"] {
            width: 20%;
            background-color: darkred;
        }
        &[data-val="2"] {
            width: 40%;
            background-color: orangered;
        }
        &[data-val="3"] {
            width: 60%;
            background-color: orange;
        }
        &[data-val="4"] {
            width: 80%;
            background-color: yellowgreen;
        }
        &[data-val="5"] {
            width: 100%;
            background-color: green;
        }
    }
}
