@import "../Colours.scss";

.darken {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: -1;
}

.modalWrap {
    z-index: 100;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modalBoxWrap {
    position: relative;
}

.modalX {
    display: none;
}

@media only screen and (max-width: 930px) {
    .modalX {
        position: absolute;
        left: 0;
        top: 0;
        cursor: pointer;
        display: block;

        line-height: 42px;
        font-size: 42px;
        width: 100%;
        height: 42px;
        text-align: center;
        background-color: $back_700;
        border-bottom: 1px solid $back_600;
        box-sizing: content-box;
    }
}

.modalBox {
    padding: 32px 48px;
    background-color: saturate($back_750, 4%);
    border-radius: 2px;
    box-shadow: 0 0 5px -10px #000;
    display: flex;
    flex-direction: column;
    align-items: center;

    width: auto;
    &:not(.small) {
        width: 930px;
        max-width: 100vw;
    }
    &.centre {
        text-align: center;
    }

    &:not(.small) > .scrolled {
        > .scrollInner > div {
            width: 834px !important;
            max-width: calc(100vw - 96px);

            @media (min-width: 800px) {
                padding-right: 16px;
            }
        }
        > .scrollTrack {
            right: 0;
        }
    }

    max-height: 100vh;

    @media only screen and (max-width: 600px) {
        & {
            padding: 24px 32px;
        }
    }

    @media only screen and (max-width: 1000px) {
        &:not(.small) {
            padding-top: 64px;
        }
    }

    & > p {
        margin-top: 0;
        white-space: pre-wrap;
    }
}
