@import "../Colours.scss";

$pb_background: $back_600;
$pb_fill: $back_300;
$pb_done: desaturate($bgreen, 20%);

.progressBar {
    height: 8px;
    border-radius: 4px;
    background-color: $pb_background;
    width: 100%;
    position: relative;
    margin: 16px 12px 0;
    width: 200px;

    &.thick {
        height: 20px;
        margin-top: 8px;
        margin-bottom: 8px;
    }

    >.pbInner {
        background-color: $pb_fill;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        width: 0;
        border-radius: 4px;
    }

    &.pbDone>.pbInner {
        background-color: $pb_done;
    }
}
