@import "../Colours.scss";
@import "./Input.scss";


$select_back: $back_700;
$select_hover: $back_600;
$select_gap: $back_800;
$select_open: $back_600;


.select {
    position: relative;
    user-select: none;
    text-align: left;
    z-index: 10;
    min-height: $min_height;

    .blanker {
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
    }

    select {
        display: none;
    }

    .head {
        border-radius: 2px;
        &.sOpen {
            background-color: $select_open;
        }

        &:after {
            position: absolute;
            content: "";
            top: calc(50% - 3px);
            right: 12px;
            width: 0;
            height: 0;
            border: 6px solid transparent;
        }
    }

    .items div,
    .head {
        min-width: 100px;
        min-height: $min_height;
        padding: $padding;

        cursor: pointer;

        background-color: $select_back;

        &:hover {
            background-color: $select_hover;
        }
    }
    .items div {
        border-top: 1px solid $select_gap;
    }

    .items {
        position: fixed;
        z-index: 99;
        border-radius: 2px;
        overflow-y: auto;
        bottom: 0;
    }
}
