@import "../Colours.scss";


.sbtWrap {
    display: flex;
    flex-grow: 1;
    flex-direction: row;
    
    &>.sbtSidebar {
        flex-shrink: 0;
        width: 200px;
        background: $sidebar;
        padding: 32px 0;
        display: flex;
        flex-direction: column;
        font-size: .9em;

        &>.sbtBrand {
            width: 150px;
            display: block;
            margin: 0 auto 32px;
        }
        &>hr {
            width: 100%;
            border: none;
            margin: 8px 0;
            border-bottom: 1px solid $bg_l1;
        }
        & .sbtItem, & .sbtSubitem {
            padding: 8px 15px 8px 25px;
            cursor: pointer;
            display: block;
        }
        &>.sbtItem {
            position: relative;
            display: flex;
            color: $sidebar_heading;
            &>svg {
                position: absolute;
                left: 4px;
                top: 50%;
                transform: translateY(-50%);
                transition: transform 200ms ease-in;
            }
            transition: background 100ms ease-in;
            &.sbtActive {
                &>svg {
                    transform: translateY(-50%) rotate(90deg);
                }
            }
            &:hover {
                text-decoration: none;
                background: $sidebar_focus;
            }
        }
        &>.sbtChildren {
            overflow-y: hidden;
            transition: height 200ms ease;
        }
        & .sbtSubitem {
            color: $sidebar_link;
            transition: background 100ms ease-in;
            &:hover, &.sbtActive {
                background: $sidebar_focus;
                text-decoration: none;
            }
        }
    }
}

.sbtBody {
    flex-grow: 1;
    width: 0;
    padding: 32px 64px;
    position: relative;
    margin-right: 0;
    transition: margin-right 200ms ease;
}


.abTitle {
    padding: 16px;
    font-size: 1.5em;
    font-weight: 700;
    font-family: $titleStack;
    border-bottom: 2px solid $bg_l1;
    word-wrap: break-word;

    &>div {
        font-size: .6em;
        margin-top: .3em;
        font-weight: initial;
        white-space: pre-line;
    }
}

.abSection {
    margin-top: 16px;
    background: $bg_d0;
    border-radius: 4px;

    &.absLight {
        background: $bg_l0;
    }

    &>.absTitle {
        border-bottom: 1px solid $bg_l1;
        font-size: 1em;
        font-weight: 700;
        font-family: $titleStack;
    }
    &>.absTitle, &>.absBody {
        padding: 16px;
    }
    &>.absBody {
        padding: 24px;
    }
    & .absfg {
        text-align: left;
        display: inline-block;
        margin-right: 96px;

        button {
            margin-left: 0;
        }
    }

    & .absIndicator {
        &::before {
            content: "";
            display: block;
            width: 16px;
            height: 16px;
            border-radius: 50%;
            border: 1px solid #0006;
        }
        display: flex;
        align-items: center;
        
        &::after {
            display: block;
            margin-left: 8px;
            font-size: .9em;
        }

        &.online {
            &::before {
                background: $bgreen;
            }
            &::after {
                content: "Online";
            }
        }
        &.offline {
            &::before {
                background: $red;
            }
            &::after {
                content: "Offline";
            }
        }
        &.partial {
            &::before {
                background: orange;
            }
            &::after {
                content: "Partial Outage";
            }
        }
        &.unknown {
            &::before {
                background: #777;
            }
            &::after {
                content: "Unknown";
            }
        }
    }

    & label {
        &:first-child {
            margin-top: 0;
        }
        &:last-child {
            margin-bottom: 0 !important;
        }
    }

    & .absMember {
        background: $bg_d1;
        border-radius: 4px;
        position: relative;
        margin-bottom: 8px;

        &>.absmName {
            border-bottom: 1px solid $bg_l1;
            font-size: 1em;
            font-weight: 700;
            font-family: $titleStack;
        }
        &>.absmName, &>.absmBody {
            padding: 16px;
        }
        & .absmVml {
            position: absolute;
            right: 16px;
            bottom: 16px;
            font-size: .8em;
        }

        &:last-child {
            margin-bottom: 0;
        }
    }
}

.sbtHandle, .sbtBurger, .sbtBurgerUnderlay {
    display: none;
}

@media (max-width: 1200px) {
    .sbtBody {
        padding: 16px 32px;
    }
}

@media (max-width: 800px) {
    .sbtBody {
        padding: 4px;
    }

    .sbtWrap > .sbtSidebar {
        width: 300px;
        transition: left 200ms ease;
        position: fixed;
        left: -300px;
        top: 0px;
        z-index: 100;
        font-size: 1.1em;
        overflow-y: auto;
        height: 100vh;
        display: block;

        &>.sbtHandle {
            display: block;
            background: $bg_d1;
            border-right: 1px solid $bg_l0;
            position: absolute;
            left: 100%;
            top: 0;
            width: 30px;
            height: 100%;
            z-index: 1;
            cursor: pointer;
            opacity: .73;

            &>* {
                position: absolute;
                left: calc(50% - 1px);
                top: 50%;
                transform: translate(-50%, -50%) rotateY(180deg);
                width: 40px;
                height: 40px;
            }

        }

    }
    .sbtBurger {
        display: block;
        position: fixed;
        left: 0px;
        top: 0px;
        font-size: 32px;
        z-index: 50;
        color: #fff;
        width: 60px;
        height: 60px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .sbtOpen {
        &>.sbtSidebar {
            left: 0;

            &>.sbtHandle>* {
                transform: translate(-50%, -50%) rotateY(0deg);
            }
        }

        .sbtBurgerUnderlay {
            display: block;
            position: fixed;
            left: 0;
            top: 0;
            width: 100vw;
            height: 100vh;
            background: #0005;
            z-index: 50; 
        }
    }
}
