@import "../Colours.scss";


$sidebar: saturate($back_750, 7%);
$sidebar_accent: $accent;
$sidebar_focus: rgba(0, 0, 0, .4);
$footer_text: $back_200;

$ab_rule: $back_700;
$ab_background: $back_750;

$sidebar_link: (
    color: $back_200,
    hover: $back_50
);
$sidebar_heading: $white_100;


.sbtWrap {
    display: flex;
    flex-grow: 1;
    flex-direction: row;
    height: 100%;

    & > .sbtSidebar {
        flex-shrink: 0;
        width: 220px;
        background: $sidebar;
        font-size: 0.9em;

        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        z-index: 5;

        .sbtsInner {
            min-height: 100%;
            width: 220px;
            display: flex;
            flex-direction: column;
        }

        .sbtSkip {
            flex-grow: 1;
        }
        .sbtFoot {
            background-color: rgba(0, 0, 0, 0.1);
            padding: 20px 25px;
            font-size: 0.8em;
            color: $footer_text;
            .sbtfCopy {
                display: flex;
                align-items: center;
                margin-bottom: 8px;
            }

            a:hover {
                text-decoration: none;
            }

            img {
                margin-right: 8px;
                width: 16px;
            }
        }

        .sbtHead {
            display: block;
            padding: 32px 25px;
            & > svg,
            & > img {
                max-width: 120px;
                display: block;
                margin: auto;
            }
        }
        .sbtItem,
        .sbtSubitem {
            cursor: pointer;
            display: block;
            border-left: 4px solid transparent;
            transition: background 100ms ease-in, border-color 200ms ease-in, color 100ms ease-in;
        }

        .sbtSubitem {
            padding: 8px 10px 8px 11px;
            padding-left: 32px;
            color: map-get($sidebar_link, "color");
            &:hover,
            &:focus {
                background: $sidebar_focus !important;
                color: map-get($sidebar_link, "hover");
                text-decoration: none;
            }
        }

        .sbtItem {
            padding: 14px 20px 14px 21px;
            position: relative;
            display: flex;
            color: map-get($sidebar_link, "color");

            svg {
                position: absolute;
                right: 12px;
                top: 50%;
                transform: translateY(-50%);
                transition: transform 200ms ease-in;
            }
            &.sbtActive {
                svg {
                    transform: translateY(-50%) rotate(-90deg);
                }

                color: $sidebar_heading;
                border-color: $sidebar_accent;
                background-color: rgba(0, 0, 0, 0.1);
                & ~ .sbtChildren .sbtSubitem {
                    border-color: $sidebar_accent;
                    background-color: rgba(0, 0, 0, 0.1);
                }
            }
            &:hover,
            &:focus {
                color: $sidebar_heading;
                text-decoration: none;
                background: $sidebar_focus;
            }
        }

        .sbtChildren {
            overflow-y: hidden;
            transition: height 200ms ease;
        }
    }
}

.sbtBody {
    flex-grow: 1;
    width: 0;
    padding: 32px 64px;
    position: relative;
    margin-right: 0;
    transition: margin-right 200ms ease;
}

.abTitle {
    padding: 16px;
    font-size: 1.5em;
    font-weight: 600;
    font-family: $titleStack;
    border-bottom: 2px solid $ab_rule;
    word-wrap: break-word;

    > .abBack, > .abSub {
        font-size: 0.6em;
        margin-top: 0.3em;
        font-weight: initial;
        white-space: pre-line;
        font-family: $fontStack;
    }
    > .abBack {
        margin-top: .5em;
        > a {
            margin-top: 0;
        }

        ~.abSub {
            margin-top: .5em;
        }
    }
}

.abSection {
    margin-top: 16px;
    background: $ab_background;
    border-radius: 4px;

    .absTitle {
        border-bottom: 1px solid $ab_rule;
        font-size: 1em;
        font-weight: 600;
        font-family: $titleStack;
        padding: 16px;
    }
    .absBody {
        padding: 24px;
    }

    .absIndicator {
        &::before {
            content: "";
            display: block;
            width: 16px;
            height: 16px;
            border-radius: 50%;
            border: 1px solid #0006;
        }
        display: flex;
        align-items: center;

        &::after {
            display: block;
            margin-left: 8px;
            font-size: 0.9em;
        }

        &.online {
            &::before {
                background: $bgreen;
            }
            &::after {
                content: "Online";
            }
        }
        &.offline {
            &::before {
                background: $red;
            }
            &::after {
                content: "Offline";
            }
        }
        &.partial {
            &::before {
                background: orange;
            }
            &::after {
                content: "Partial Outage";
            }
        }
        &.unknown {
            &::before {
                background: #777;
            }
            &::after {
                content: "Unknown";
            }
        }
    }

    label {
        &:first-child {
            margin-top: 0;
        }
        &:last-child {
            margin-bottom: 0 !important;
        }
    }
}

.sbtBurgerUnderlay {
    width: 220px;
    flex-shrink: 0;
}

.sbtBurger {
    display: none;
}

@media (max-width: 1200px) {
    .sbtBody {
        padding: 16px 32px;
    }
}

@media (max-width: 800px) {
    .sbtBody {
        padding: 4px;
    }

    .sbtBurgerUnderlay {
        width: auto;
    }

    .sbtWrap > .sbtSidebar {
        width: 300px;
        transition: left 200ms ease;
        position: fixed;
        left: -300px;
        top: 0px;
        z-index: 100;
        font-size: 1.1em;
        overflow-y: auto;
        height: 100vh;
        display: flex;

        .sbtsInner {
            width: 300px;
        }
    }
    .sbtBurger {
        display: block;
        position: fixed;
        left: 0px;
        top: 0px;
        font-size: 32px;
        z-index: 50;
        color: #fff;
        width: 60px;
        height: 60px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
    }
    .sbtOpen {
        & > .sbtSidebar {
            left: 0;
        }

        .sbtBurgerUnderlay {
            display: block;
            position: fixed;
            left: 0;
            top: 0;
            width: 100vw;
            height: 100vh;
            background: #0005;
            z-index: 50;
        }
    }
}
