@import "../Colours.scss";


.tabButtonRow {
    justify-content: flex-start;
        &.centre {
        justify-content: center;
    }
    & > button {
        border-radius: 0;
        margin: 0;
        min-width: 100px;
        transition: none;

        margin-right: 8px;

        font-size: 1.1em;
        background-color: $bg_d0;
        color: #aaa;
        border: none;
        min-height: 42px;
    
        &:hover, &:focus {
            background-color: $bg_l0;
            color: #ddd;
            outline: none;
        }
        &:active {
            outline: none;
        }

        &.active {
            background-color: $bg_l0;
            border: none;
            color: $fg;
        }
    }

    & > .tabSpacer {
        flex-grow: 1;
    }
}

.tabWrap {
    padding: 32px;
    width: 100%;

    background-color: $bg_l0;
    padding: 1em 2em;
    border-radius: 1px;
    min-height: 300px;
}
