@import "../Colours.scss";


$body_background: $back_750;
$tab_background: transparent;
$tab_selected: $back_750;
$tab_hover: rgba($back_750, .5);

$tab_text: $back_50;
$tab_active_text: $white_100;
$tab_hover_text: $white_100;


.tabButtonRow {
    justify-content: flex-start;

    &.centre {
        justify-content: center;
    }
    & > button {
        flex-grow: 1;
        max-width: none;

        border-radius: 0;
        margin: 0;
        min-width: 100px;
        transition: none;

        font-size: 1.1em;
        background-color: $tab_background;
        color: $tab_text;
        min-height: 42px;
    
        &:hover, &:focus {
            background-color: $tab_hover !important;
            color: $tab_hover_text !important;
            outline: none;
        }
        &:active {
            outline: none;
        }

        &.active {
            background-color: $tab_selected !important;
            color: $tab_active_text;
        }
    }
}

.tabWrap {
    padding: 32px;
    width: 100%;

    background-color: $body_background;
    padding: 1em 2em;
    border-radius: 1px;
}

@media (max-width: 800px) {
    .tabWrap {
        padding: 16px 8px;
    }
}
