@import "../Colours.scss";


$header_color: $back_600;
$hover_color: $back_600;
$row: (
    odd: $back_700,
    even: $back_750,
    gap: $back_800
);

$arrow: (
    base: $back_100,
    hover: $back_50
);


.tableWrap {
    width: 100%;
    overflow-x: auto;
}

table {
    width: 100%;
    text-align: left;
    border-collapse: collapse;
}

tr {
    &.heading > td {
        background-color: $header_color;
        font-weight: 600;
        font-family: $titleStack;
    }
    
    td {
        background-color: map-get($row, "odd");
    }
    &:nth-child(2n) > td {
        background-color: map-get($row, "even");
    }
    &:not(.heading) {
        > td {
            color: #eee;
        }

        &:hover > td {
            color: #fff;
            background-color: $hover_color;
        }
    }
}

tbody td {
    border-top: 1px solid map-get($row, "gap");
}

td {
    background-color: transparent;
    vertical-align: top;

    &.sortable {
        position: relative;
        cursor: pointer;
        padding-right: 1.5rem;

        &::before, &::after {
            border: 4px solid transparent;
            content: "";
            display: block;
            height: 0;
            right: .75rem;
            top: 50%;
            position: absolute;
            width: 0;
        }
        &::before {
            border-bottom-color: map-get($arrow, "base");
            margin-top: -9px;
        }
        &::after {
            border-top-color: map-get($arrow, "base");
            margin-top: 1px;
        }

        &:hover::before {
            border-bottom-color: map-get($arrow, "hover");
        }
        &:hover::after {
            border-top-color: map-get($arrow, "hover");
        }
    }

    &>* {
        display: block;
        margin: .55rem .75rem;
    }
    &>a {
        color: $white_50;
        margin: 0;
        padding: .55rem .75rem;
        
        &:hover {
            text-decoration: none;
            color: $white_50;
        }
    }
}
