$fontStack: 'Lato', sans-serif;

$titleStack: 'Gilroy', sans-serif;
$monoStack: 'Roboto Mono', monospace;

$green: #115423;
$bgreen: #7cb342;

$do-lighten: true;

/* #region Colour definitions */
// Background shades
$back_50: #a8a5b7;
$back_100: #9490a8;
$back_200: #7f7b99;
$back_300: #6c6888;
$back_400: #595675;
$back_500: #484560;
$back_600: #37344c;
$back_700: #272538;
$back_750: #201f31;
$back_800: #181626;
$back_850: #110f1f;
$back_900: #090815;

// Red shades
$red_50: #ff7673;
$red_100: #ff5c59;
$red_200: #f54f4c;
$red_300: #ec423e;
$red_400: #e53935;
$red_500: #cd3533;
$red_600: #bb3332;
$red_700: #aa3031;
$red_800: #982c2d;
$red_900: #8d2729;

// Light shades
$white_50: #edecf4;
$white_100: #dfddeb;
$white_200: #d1cee2;
$white_300: #c3beda;
$white_400: #b5afd1;
$white_500: #a7a0c8;
$white_600: #9991bf;
$white_700: #8b82b6;
$white_800: #7d72ae;
$white_900: #6f63a5;
/* #endregion */

$red: $red_400;
$accent: $red_700;
$cta_grad_0: $red_400;
$cta_grad_1: $red_200;

$background: $back_800;
$foreground: $white_50;



$bg: $background;
$fg: $foreground;



$bg_l0: saturate(lighten($bg, 3%), 1%);
$bg_l1: desaturate(lighten($bg, 7%), 5%);
$bg_l2: desaturate(lighten($bg, 14%), 9%);
$bg_l3: desaturate(lighten($bg, 28%), 11%);
$bg_l4: desaturate(lighten($bg, 42%), 11%);
$bg_l5: desaturate(lighten($bg, 56%), 12%);

$bg_d00: saturate(darken($bg, 2%), 4%);
$bg_d0: saturate(darken($bg, 4%), 4%);
$bg_d05: saturate(darken($bg, 6%), 4%);
$bg_d1: saturate(darken($bg, 8%), 4%);

@if $do-lighten {
    $bg_d00: desaturate(lighten($bg, 2%), 4%);
    $bg_d0: desaturate(lighten($bg, 4%), 4%);
    $bg_d05: desaturate(lighten($bg, 6%), 4%);
    $bg_d1: desaturate(lighten($bg, 8%), 4%);
}

$link_color: $bg_l5;
$link_hover: $bg_l4;


:export {
    background: $background;
    foreground: $foreground;
    
    green: $green;
    bgreen: $bgreen;
    red: $red;
    
    accent: $accent;

    bg_l0: $bg_l0;
    bg_l1: $bg_l1;
    bg_l2: $bg_l2;
    bg_l3: $bg_l3;
    bg_l4: $bg_l4;
    bg_l5: $bg_l5;
    bg_d1: $bg_d1;
    bg_d05: $bg_d05;
    bg_d0: $bg_d0;

    fontStack: $fontStack;
    monoStack: $monoStack;
}